@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Montserrat&family=Prompt:wght@200&family=Quicksand&display=swap');

:root{
    --white-color:#B6ADA7;
    --darkbrown-color:#67271D;
    --black-color:#120E10;
    --darkgray-color:#483E41;
    --lightnude-color:#A18278;
    --nude-color:#9A6758;
}
*{
    font-family: 'Quicksand', sans-serif;
    color: var(--black-color);
    text-decoration: none;
}
body{
    background-image: url(./images/background.png);
}
main{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--lightnude-color);
  }
  