.image-span {
  width: 22rem;
  height: 26rem;
  border-radius: 5px 5px 0 0;
  background-repeat: round;
  background-image: url(../../images/normal.jpg);
}

.smallImg {
  width: 12rem;
  height: 16rem;
}

.image-span:hover {
  background-image: url(../../images/hover.jpg);
}
.container {
  background-color: #d8d2d2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 20px -10px black;
}

.smallCont {
  width: 15rem;
  height: 18rem;
}

.title {
  color: var(--darkbrown-color);
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 10rem;
}

.price {
  color: var(--darkbrown-color);
}
.product-body {
  margin: 1rem;
  font-weight: bolder;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr {
  background-color: var(--lightnude-color);
  height: 2px;
  border-radius: 50%;
  width: 20rem;
  box-shadow: 0px 8px 10px 1px white;
}
.flex-row {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-between;
}

.view-btn {
  background: #d8d2d2;
  border: var(--lightnude-color) solid 2px;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  color: var(--darkbrown-color);
  box-shadow: 0px 1px 10px -5px black;
  top: -38px;
  font-weight: bold;
}
.view-btn:hover {
  background-color: var(--lightnude-color);
  color: #d8d2d2;
}
.fa-heart {
  color: var(--lightnude-color);
}

.like-btn {
  box-shadow: 0px 1px 10px -5px black;
  border: var(--lightnude-color) solid 2px;
  background: #d8d2d2;
  border-radius: 50%;
  width: 45px;
  margin-left: 2rem;
  top: -38px;
}
.like-btn:hover {
  background-color: var(--lightnude-color);
}

.like-btn:hover .fa-heart {
  color: #d8d2d2;
}

.heart-selected {
  color: #e75050;
}

.like-btn:hover .heart-selected {
  color: #e75050;
}
