.product-img{
    width: 15rem;
    height: 15rem;
    box-shadow: inset 0 0 5px black;
    border-radius: 50%;
}
.container{
    width: 30rem;
    height: 35rem;
    background-color: #ba8f68;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    color: var(--white-color);
}
.title{
    color: var(--lightblue-color);
}
.price{
    color: var(--orange-color);
}
.product-btn{
    background-color: var(--white-color);
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem 0 1.5rem 0;
    margin-top: 73px;
    margin-right: -6px;
    border: none;
    color: var(--orange-color);
    font-size: 2.5rem;
    cursor: pointer;
}
.product-body{
    margin: 2rem;
}
.flex-row{
    display: flex;
    justify-content: space-between;
}
.cabinet{
    background-image: url(../../images/Room1/Cabinet.jpg);
}

.chair{
    background-image: url(../../images/Room1/Chair.jpg);
}
.light{
    background-image: url(../../images/Room1/Light.jpg);
}