.wishlist-box {
  right: 0;
  background-color: white;
  width: 40%;
  position: fixed;
  height: 100vh;
  z-index: 3;
  padding: 120px 40px;
  border: 2px solid var(--nude-color);
}

.close {
  content: "x";
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 25px;
  background: #ededed;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  color: #0a0a1b;
}
