.popup-photos {
  height: 50vh;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 10px;
}

.text-small {
  font-size: small;
}
.main-photo {
  flex: 7;
}

.main-photo:hover {
}

.choose-photos {
  flex: 3;
  padding: 0 10px;
}

.chosen-photo {
  border: var(--nude-color) 2px solid;
}
