.catalog{
    display: flex;
    gap: 1rem;
}
.card{
    border-radius: 2rem;
    cursor: pointer;
    background-repeat: round;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 5px 0px black;
}
.large{
    width: 26rem;
    height: 40rem;
}
.medium{
    width: 20rem;
    height: 30rem;
}
.small{
    width: 20rem;
    height: 14rem;
}

.c-title{
    font-size: 5rem;
    color: var(--white-color);
    text-shadow: var(--orange-color) -5px 5px ;

}