.home-body{
    height: 100vh;
    background-color: #b6ada7;
}
.home-photo{
    width: 30rem;
    border-radius: 15rem;
    margin-top: 8rem;
}
.a{
    height: 48rem;
    width: 32rem;
    background-color: #9a6758;
    position: absolute;
    left: 8rem;
    padding: 1rem;
    border-radius: 0rem 0rem 16rem 16rem;
}
.home-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.home-head{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    position: absolute;
    left: 45rem;
    width: 40rem;
}
h1{
    font-size: 4rem;
}
.home-footer{
    background-color: var(--black-color);
    width: 100vw;
    height: 25vh;
}

