.shop-body{
    background-color: #c6d0d9;
    height: 100vh;
    padding: 8rem 1rem 1rem 1rem;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.image{
    background-image: url(../../images/spacejoy-YI2YkyaREHk-unsplash.jpg);
    width: 50vw;
    background-repeat: round;
    border: #c6d0d9 solid 10px ;
}
.product-container{
    background-color: #282936;
    border-radius: 3rem;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}
.btns-cont{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.prod-cont{
    display: flex;
    align-items: center;
}