@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Poppins:wght@200&display=swap");

.navbar {
<<<<<<< HEAD
    width: 100%;
    display: flex;
    padding: 2rem 8rem;
    z-index: 50;
    position: sticky;
    justify-content: space-around;
=======
  width: 100%;
  display: flex;
  padding: 1.5rem 7rem;
  z-index: 50;
  position: fixed;
  justify-content: space-around;
  background-color: var(--lightnude-color);
  border-radius: 0 0 30% 30%;
  color: white;
  box-shadow: inset 0px -10px 15px -10px black;
>>>>>>> 2853e09 (popup)
}
.navbar:hover {
}

h2 {
  font-size: 2rem;
  cursor: pointer;
  margin: 0 4rem;
  font-family: "Dancing Script", cursive;
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
}
.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart__link {
  background: inherit;
  padding: 10px;
  border-radius: 8px;
}

.cart__link:hover {
  background: var(--orange-color);
  color: #f4f4f4;
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background: #f4f4f4;
  border-radius: 50%;
  margin-left: 8px;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.heart-logo {
  color: black;
}

.heart-logo::before {
  color: black;
}
.heart-logo:hover {
  color: white;
}

.heart-logo:active {
  color: black;
}
